{% extends "product_catalog/layout.html" %}

{% block page_title %} 
Lihat Barang
{% endblock page_title %}

{% block slot %}
<main class="m-5">
  <h1 class="fw-semibold mb-2 text-center mb-4">
    Barang dari <br />
    Association of Informatics
  </h1>

  <div class="row gap-4 justify-content-center">
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+1" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+2" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+3" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+4" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+5" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card rounded-4">
        <img src="https://dummyimage.com/400x4:3/000000/ffffff&text=barang+6" class="card-img-top rounded-top-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock slot %}